*
{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

div
{
    
}

body
{
    display: flex;    
    flex-direction: column;
    justify-content: space-between;   
}

/*------------------- HEADER -------------------- */

.header
{
    background-color: #1F2937;
    justify-content: center;
    color: white;
    display: flex;
    justify-content: center;
    
}

.header-container
{
    min-width: 870px;
    width: 70%;    
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 130px;
    gap: 130px;    
}

.header-sect1
{
    display:flex;
    justify-content: space-between;   
    align-items: center;
}

ul
{
    display: flex;
    list-style: none;
    gap: 20px;
}

.header-sect2
{
    
    display: flex;
    gap: 60px;
    justify-content: space-between;
}

.header-sect2a
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.header-sect2b
{
    flex: 1;
}



.sunflower
{
    width: 100%;
    height: auto;
}

h1
{
    color: #F9FAF8;
    font-size: 55px;
    font-weight: bolder;
}

p
{
    color: #E5E7EB;
    font-size: 22px;
}

h2
{
    font-size: 30px;
    font-weight: 20px;
}

button
{
    background-color: #3882f6;
    padding: 12px;
    width: 185px;
    color: white;
    border: none;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 22px;
}

/*------------------- CONTENT 1 -------------------- */

.content1
{
    display: flex;
    justify-content: center;
    background-color: white;    
}


.content1-container
{
    min-width: 870px;
    width: 70%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
    margin-bottom: 140px;
    gap: 50px;    
}

.content1-sect2
{
    width: 100%;
    display: flex;
    justify-content: space-around;   
}

.card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 210px;
    gap: 5px;   
}

.card-img
{
    max-width: 200px;
    max-height: auto;
    border-radius: 20px;
    border: 4px solid #3882f6;    
}

.card-text
{
    color: #1f2937;    
}

/*------------------- CONTENT 2 -------------------- */

.content2
{
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
}

.content2-container
{
    min-width: 790px;
    width: 50%;    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 120px;
    margin-bottom: 100px;
    gap: 5px;
}

.quote
{
    color: #1F2937;
    font-style:italic;    
    font-size: 40px;
}

.quote-author
{
    color: #1F2937;
    font-weight: bolder;
}



/*------------------- CONTENT 3 -------------------- */

.content3
{
    background-color: white;
    display: flex;
    justify-content: center;
    
}

.content3-container
{
    min-width: 870px;
    width: 70%;    
    display: flex;
    justify-content: space-around;
    padding: 60px 0px 60px 0px;
    margin: 100px;
    background-color: #3882f6;
    display: flex;
    border-radius: 10px;
}

h4
{
    color: #f9faf8;
    font-size: 24px;
}

.cta-button
{
    border: 2px solid white;
}


/*------------------- FOOTER -------------------- */

.footer
{
    background-color: #1f2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}