*
{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

body
{
    display: flex;    
    flex-direction: column;
    justify-content: space-between;
   
}
header
{
    background-color: #1F2937;
    justify-content: center;
    color: white;
    display: flex;
    justify-content: center;
    
}

.header-section
{
    min-width: 870px;
    width: 70%;
    
    display: flex;
    flex-direction: column;
    margin: 15px;
    
}

.header-one
{
    display:flex;
    justify-content: space-between;   
}

ul
{
    display: flex;
    list-style: none;
    gap: 20px;
}

.header-two
{
    margin: 100px 0px 100px 0px;
    display: flex;
    gap: 80px;
    justify: space-between;
}



.header-two-left
{
    width: 40%;
    flex-shrink: 0;
    
}

.sunflower
{
    width: 100%;
    height: auto;
}

h1
{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

p
{
    color: #E5E7EB;
    font-size: 18px;
}

h2
{
    font-size: 24px;
}

button
{
    background-color: #3882f6;
    padding: 8px;
    width: 100px;
    color: white;
    border: none;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 5px;
}
